body {
    flex-direction: column;
    display: flex;
    background-color: #f0f0f0;
    min-height: 100vh;
    font-size: 16px;
}

body { font-family: 'Roboto', sans-serif; }
h1, h2, h3 { font-family: 'Montserrat', sans-serif; }

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

/*для того, чтобы контент растягивался и footer был внизу страницы*/
.main {
  flex: 1;
  margin-top: 80px;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #333;
    color: rgb(148, 139, 255);
    padding: 0 2rem;
    text-align: center;
    font-size: 26px;
}

header h1 {
    align-self: center;
    font-size: 3.5rem;
    padding: 0.5rem;
    margin: 0;
}

header nav {
    padding: 0 2rem;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
    max-width: 100%;
    box-sizing: border-box;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    overflow: hidden;
    font-size: 1.2rem;
    white-space: nowrap;
}

nav a:hover {
    background-color: #555;
}

.content {
    font-size: 1.4rem;
    padding: 1em;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main-header {
  font-size: 3.25rem;
}

.main-description {
  font-size: 1.7rem;
  text-align: left;
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

.advantages-header {
  font-size: 2rem;
  margin-bottom: 4rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.75em;
    margin-top: auto;
}

.dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  z-index: 100;
  border-radius: 4px;
  overflow: hidden;
  left: 0%;
  right: 0%;
  width: 100%;
  top: 100%;
  white-space: nowrap;
}

.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  margin: 0;
}

.dropdown-content a:hover {
  background-color: #666;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown > a {
  cursor: pointer;
}

.flex-advantages-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7rem;
  row-gap: 2rem;
  justify-content: center;
}

.advantage-item {
  display: block;
  flex: 0 1 350px;
  text-align: center;
  padding: 1.5rem;
  border-radius: 6px;
}

.advantage-item-divider {
    height: 0.2rem;
    width: 3rem;
    background-color: rgb(148, 139, 255);
    margin: 0.5rem auto;
}

#burger-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
  transition: transform 0.2s ease;
  z-index: 101;
}

#burger-btn.rotated {
  transform: rotate(90deg);
}

/* Стили для подсветки текущей страницы (выбрать один из этих!!)*/

/*nav a.active {
  border-bottom: 0.15rem solid #8966ea;
  color: #8966ea !important;
}*/

/*nav a.active {
  background-color: rgba(122, 111, 237, 0.509) !important;
}*/

nav a.active {
  border-bottom: 0.15rem solid rgba(149, 139, 255);
}

.logo {
  margin: 0.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.flask {
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.flask-ceiling {
  width: 20px;
  height: 5px;
  background: rgba(149, 139, 255, 0.6);
  border-radius: 2px;
}

.flask-neck {
  width: 15px;
  height: 16px;
  background: rgba(149, 139, 255, 0.4);
  margin-bottom: -0.15px;
}

.flask-body {
  position: relative;
  width: 55px;
  height: 45px;
  background: rgba(149, 139, 255, 0.4);
  clip-path: polygon(35% 0%, 65% 0%, 100% 90%, 0% 90%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', monospace;
  font-size: 9px;
  color: white;
  font-weight: bold;
  overflow: hidden;
  z-index: 3;
}

.binary-code {
  margin-top: 0.5rem;
  line-height: 0.6rem;
  width: 30px;
}

.logo-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: rgb(148, 139, 255);
}

/* Планшеты и очень маленькие ноуты */
@media (max-width: 1200px) {
  #nav-menu a {
    font-size: 1rem;
  }

  header {
    padding: 0 1rem;
    height: 80px;
  }

  .main-header {
    font-size: 1.5rem;
  }

  .main-description {
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .advantages-header {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .content {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  
  header h1 {
    font-size: 2.3rem !important;
    align-self: center;
  }

  .dropdown-content {
    position: inline-flex;
    width: 100%;
    display: none;
    background-color: #3a3a3a;
    box-shadow: none;
    border-radius: 0;
  }

  .dropdown-content.show {
    display: block;
  }

  .dropdown-content a {
    padding-left: 2.5rem;
  }

  .main {
    margin-top: 100px;
  }

  .advantage-item {
    max-width: 300px;
    max-height: 300px;
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  .advantage-item p {
    max-width: 100%;
  }

  .advantage-icon img {
    max-width: 70px;
  }

  .flex-advantages-items {
    row-gap: 1.2rem !important;
    padding: 0.1rem;
    column-gap: 5rem;
    row-gap: 2rem;
  }

  .advantage-header {
    margin: 0.5rem;
  }
}

/* Телефоны и маленькие планшеты */
@media (max-width: 900px) {
  header {
    padding: 0 1rem;
    height: 80px;
  }

  .main-header {
    font-size: 1.5rem;
  }

  .main-description {
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .advantages-header {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .content {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  
  header h1 {
    font-size: 2.3rem !important;
    align-self: center;
  }

  /* ПОКАЗЫВАЕМ БУРГЕР */
  #burger-btn {
    display: block !important;
  }

  /* ПРЯЧЕМ ОБЫЧНОЕ МЕНЮ */
  #nav-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background-color: #333;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 100px;
    gap: 0;
    transition: right 0.3s ease;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  }

  #nav-menu.show {
    display: flex;
    right: 0;
  }

  #nav-menu a {
    display: block;
    width: 100%;
    padding: 1.2rem 1.5rem;
    text-align: left;
    border-bottom: 1px solid #444;
    font-size: 1.1rem !important;
  }

  #nav-menu a.active {
    border-left: 0.25rem solid rgb(148, 139, 255);
    /*border-bottom: 0.15rem solid rgb(148, 139, 255);*/
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-content {
    position: inline-flex;
    width: 100%;
    display: none;
    background-color: #3a3a3a;
    box-shadow: none;
    border-radius: 0;
  }

  .dropdown-content.show {
    display: block;
  }

  .dropdown-content a {
    padding-left: 2.5rem;
  }

  .main {
    margin-top: 100px;
  }

  .advantage-item {
    max-width: 280px;
    max-height: 300px;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .advantage-item p {
    max-width: 100%;
  }

  .advantage-icon img {
    max-width: 70px;
  }

  .flex-advantages-items {
    row-gap: 1.2rem !important;
    padding: 0.1rem;
    column-gap: 0.5rem;
    row-gap: 2rem;
  }

  .advantage-header {
    margin: 0.5rem;
  }

  .logo {
    margin: 0.5rem;
    gap: 1.5rem;
  }

  .flask {
    width: 25px;
  }

  .flask-ceiling {
    width: 15px;
    height: 3.75px;
  }

  .flask-neck {
    width: 12px;
    height: 12px;
    margin-bottom: -0.15px;
  }

  .flask-body {
    width: 41px;
    height: 33px;
    font-size: 6px;
    z-index: 3;
  }

  .binary-code {
    margin-top: 0.5rem;
    line-height: 0.5rem;
    width: 25px;
    margin-top: -1px;
  }

  .logo-text {
    font-size: 3rem;
    font-weight: 700;
  }
}