.common-header h2 {
    margin-top: 0;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    max-width: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.filter-btn {
    padding: 0.8rem 1.5rem;
    border: 2px solid transparent;
    color: #000000;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 1.3rem;
}

.filter-btn.active {
    background: rgb(148, 139, 255);
    color: white;
}

.filter-btn:hover {
    border: 2px solid rgb(148, 139, 255);
}

/*.filter-btn:hover {
    background: rgb(148, 139, 255);
    color: white;
}*/

.cases {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
}

.case {
    flex: 0 1 350px;
    max-width: 400px;
    min-width: 300px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.case.hidden {
    display: none;
}

.case:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.case-img {
    height: 200px;
    overflow: hidden;
}

.case-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.case-card:hover .case-image img {
    transform: scale(1.05);
}

.case-content {
    padding: 1.5rem;
    text-align: left;
}

.case-category {
    display: inline-block;
    background: rgba(149, 139, 255, 0.215);
    color: rgb(101, 94, 184);
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.case-content h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #333;
}

.case-content p {
    color: #666;
    line-height: 1.6;
    text-align: left;
    font-size: 1rem;
    min-height: 7rem;
}

.case-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.case-stack span {
    background: #f0f0f0;
    color: #555;
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
    font-size: 0.8rem;
}

@media (max-width: 1200px) {
    .common-header {
        font-size: 1.2rem;
    }

    .filter-buttons {
        gap: 1.5rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .filter-btn {
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 1rem;
    }

    .filter-btn:hover {
        border: 1.7px solid rgb(148, 139, 255);
    }

    .cases {
        gap: 3rem;
    }

    .case {
        flex: 0 1 300px;
        max-width: 400px;
        min-width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .case-img {
        height: 150px;
    }

    .case-content {
        padding: 1.2rem;
    }

    .case-category {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .case-content h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .case-content p {
        line-height: 1.6;
        font-size: 0.8rem;
        min-height: 5rem;
    }

    .case-stack {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .case-stack span {
        padding: 0.3rem 0.6rem;
        border-radius: 12px;
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    .filter-buttons {
        gap: 1rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .filter-btn {
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 0.8rem;
    }

    .filter-btn:hover {
        border: 1.5px solid rgb(148, 139, 255);
    }

    .cases {
        gap: 3rem;
    }

    .case {
        flex: 0 1 280px;
        max-width: 400px;
        min-width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .case-img {
        height: 150px;
    }

    .case-content {
        padding: 1.2rem;
    }

    .case-category {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .case-content h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .case-content p {
        line-height: 1.6;
        font-size: 0.8rem;
        min-height: 5rem;
    }

    .case-stack {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .case-stack span {
        padding: 0.3rem 0.6rem;
        border-radius: 12px;
        font-size: 0.8rem;
    }
}