.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.variant {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контейнер ролика */
.clip {
  width:200px;
  height:200px;
  max-width:100%;
  max-height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  border:2px solid #aaa;
  overflow:hidden;
  cursor:pointer;
  background: linear-gradient(#9dd8f5 0%, #f8e4a2 100%);
}

.stage { 
  position:relative; 
  width:100%; 
  height:100%;
}

/* Машина в положении 1 и 2 */
.car1 {
  position:absolute;
  width:80%;
  left:50%; 
  top:50%;
  transform:translate(-50%,-30%);
  z-index:2;
  transition:.3s;
}

.clip:hover .car1 {
  animation: shakeX .5s infinite;
}

/* Колёса */

.wheels .wheel {
  position:absolute;
  width:20%;
  bottom:15%;
  z-index:7;
  transition:.3s;
  pointer-events: auto;
}

.wheels .wheel.left { 
  left:23%;
}

.wheels .wheel.right { 
  right:18%;
}

.wheels:hover .wheel {
  animation: spin 1s linear infinite;
}

/* Машина после клика */
.car2 {
  position:absolute;
  width:80%;
  left:50%; 
  top:50%;
  transform:translate(-50%,-30%);
  opacity:0;
  z-index:2;
  transition:.3s;
}

/* Белка в машине */
.belka-head {
  position:absolute;
  width:20%;
  left:35%; 
  top:39%;
  opacity:0;
  z-index:4;
  transition:.3s;
}

.clip:hover .belka-head { 
  opacity:1; 
}

/* Белка, вышедшая из машины */
.belka2 {
  position:absolute;
  width:25%;
  left:55%; 
  top:60%;
  opacity:0;
  z-index:5;
}

/* Надпись "Новое путешествие!" */
.label1 {
  position:absolute;
  top:8%; 
  right:20%;
  font-weight:200;
  font-size: 12px;
  color:#2e5089;
  opacity:0;
  transition:.3s;
}

.clip:hover .label1 {
  opacity:1;
}

/* Надпись "Приехали)" */

.label2 {
  position:absolute;
  top:43%; 
  right:3.5%;
  font-weight:100;
  font-size:14px;
  color:#081952;
  opacity:0;
  transition:.3s;
}

/* Действия при нажатии на мышь */
.clip:active { 
  animation: shakeY .5s infinite; 
}

.clip:active .car1 { 
  opacity:0; 
}

.clip:active .wheel { 
  opacity:0; 
}

.clip:active .car2 { 
  opacity:1; 
}

.clip:active .belka-head { 
  opacity:0; 
}

.clip:active .belka2 {
  opacity:1;
  animation: belka-walk 3s forwards;
}

.clip:active .label2 {
  opacity:1;
  content:"Приехали)";
}

.clip:active .label1 {
  opacity:0;
}

/* Тряска машины */

@keyframes shakeX {
  0%,100% { 
    transform:translate(-50%,-30%) rotate(0); 
  }
  25% { 
    transform:translate(calc(-50% - 2px),-30%) rotate(-1deg); 
  }
  75% { 
    transform:translate(calc(-50% + 2px),-30%) rotate(1deg); 
  }
}

/* Тряска флекса */

@keyframes shakeY {
  0%,100% { 
    transform:translateY(0); 
  }
  50% { 
    transform:translateY(-2%);
  }
}

/* Вращение колес */

@keyframes spin {
  100% { 
    transform:rotate(-360deg); 
  }
}

/* Анимация движения белки */
.belka2 {
  offset-path: path("M 60 50 C 60 50, 40 -10, 20 50 C 20 50, 0 -10, -20 50 C -20 50, -40 -10 -60 50 C-60 50 -100 -10 -140 50");
  offset-distance:0%;
  offset-rotate:0deg;
}
  
.clip:active .belka2 {
  animation: belka-curve 2s linear forwards;
}
  
@keyframes belka-curve {
  to {
    offset-distance:100%;
  }
}